/* Activities Page */
.activities {
  background-color: #f2f4f5;
  height: 110vh;
  max-width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: auto;
  margin-left: auto;
  padding-top: 3rem;
}
.act__title {
  font-weight: bolder;
  font-size: 1.25rem;
  padding-top: 1rem;
  flex: 0.05;
}
.act__heading {
  font-size: 4rem;
  font-weight: lighter;
  max-width: 80%;
  padding-bottom: 3rem;
  flex: 0.1;
}
.act__cards {
  display: flex;
  flex: 0.5;
  flex-direction: row;
  width: 100%;
}
.act__card {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.9rem;
  position: relative;
  color: white;
}
.act__image {
  flex: 1;
  height: 100%;
  border-radius: 0.35rem;

  width: 100%;
}
.act__bottom {
  position: absolute;
  z-index: 111;
  bottom: 0%;
  top: auto;
  background-color: var(--dark-blue);
  opacity: 0.9;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  height: 30%;
}
.act__bottom__title {
  font-weight: bolder;
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}
.act__bottom_info {
  padding-bottom: 0.5rem;
  font-weight: lighter;
}
.act__down__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0.2;
}
.act__info {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}
.act__button {
  font-weight: bold;
  color: white;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-right: 1rem;
  border: none;
  width: fit-content;
  text-transform: uppercase;
  padding-left: 1rem;
  background-color: var(--button-color);
}

.gallery {
  position: relative;
  width: 100%;
}

.gallery-container {
  align-items: center;
  display: flex;
  height: 400px;
  margin: 0 auto;
  /* max-width: 1000px; */
  position: relative;
}

.gallery-item {
  height: 9.375rem;
  opacity: 0;
  position: absolute;
  transition: all 0.3s ease-in-out;
  width: 9.375rem;
  z-index: 0;
}

.gallery-item-1 {
  left: 15%;
  opacity: 0.4;
  transform: translateX(-50%);
  width: 20% !important;
  height: 85% !important;
}

.gallery-item-2,
.gallery-item-4 {
  height: 12.5rem;
  opacity: 1;
  width: 12.5rem;
  z-index: 1;
  width: 20% !important;
  height: 850% !important;
}

.gallery-item-2 {
  width: 20% !important;
  height: 90% !important;
  left: 30%;
  transform: translateX(-50%);
}

.gallery-item-3 {
  width: 20% !important;
  height: 100% !important;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
    0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25),
    0 0 100px rgba(255, 255, 255, 0.1);
  height: 18.75rem;
  opacity: 1;
  left: 50%;
  transform: translateX(-50%);
  /* width: 18.75rem; */
  z-index: 2;
}

.gallery-item-4 {
  width: 20% !important;
  height: 90% !important;
  left: 70%;
  transform: translateX(-50%);
}

.gallery-item-5 {
  width: 20% !important;
  height: 85% !important;
  left: 85%;
  opacity: 0.4;
  transform: translateX(-50%);
}

.gallery-controls {
  display: flex;
  justify-content: center;
  margin: 1.875rem 0;
}

.gallery-controls button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: 1rem;
  margin: 0 1.25rem;
  padding: 0 0.75rem;
  text-transform: capitalize;
}

.gallery-controls button:focus {
  outline: none;
}

.gallery-controls-previous {
  position: relative;
}

.gallery-controls-previous::before {
  border: solid #000;
  border-width: 0 0.125rem 0.125rem 0;
  content: "";
  display: inline-block;
  height: 0.25rem;
  left: -0.625rem;
  padding: 0.125rem;
  position: absolute;
  top: 0;
  transform: rotate(135deg) translateY(-50%);
  transition: left 0.15s ease-in-out;
  width: 0.25rem;
}

.gallery-controls-previous:hover::before {
  left: -1.125rem;
}

.gallery-controls-next {
  position: relative;
}

.gallery-controls-next::before {
  border: solid #000;
  border-width: 0 0.125rem 0.125rem 0;
  content: "";
  display: inline-block;
  height: 0.25rem;
  padding: 0.125rem;
  position: absolute;
  right: -10px;
  top: 50%;
  transform: rotate(-45deg) translateY(-50%);
  transition: right 0.15s ease-in-out;
  width: 0.25rem;
}

.gallery-controls-next:hover::before {
  right: -1.125rem;
}

.gallery-nav {
  bottom: -0.975;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  position: absolute;
  width: 100%;
}

.gallery-nav li {
  background: #ccc;
  border-radius: 50%;
  height: 0.625rem;
  margin: 0 1rem;
  width: 0.625rem;
}

.gallery-nav li.gallery-item-selected {
  background: #555;
}
.gallery button {
  color: white !important;
  padding-top: 0.6rem !important;
  padding-bottom: 0.6rem !important;
  padding-right: 1rem !important;
  border: none !important;
  text-transform: uppercase !important;
  margin-left: 1rem !important;
  padding-left: 1rem !important;
  margin-bottom: -2rem;
  background-color: var(--button-color) !important;
}
