* {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
  /* font-family: 'PT Sans', sans-serif;     */
  --button-color: #88a234;
  --blue: #1a58b0;
  --dark-blue: #094287;
  --text-color: #898989;
}
body {
  overflow-x: hidden;
  color: var(--text-color);
}
